{% extends 'users/base.html' %}
{% block content %}
{% block title %}Edit Profile Page{% endblock %}

{% if user.is_authenticated %}

<h1>Edit Profile Page</h1>
<h2>ewffewfwefe</h2>
<h1>This is the profile page for {{user.username}}</h1>
<h2> Valorant Name  {{user.profile.valorantName}}</h2>
<h3> Valorant Tagline  {{user.profile.valorantTagline}}</h3>
<h4> Valorant Region {{user.profile.valorantRegion}}</h4>
<h5> Valorant League  {{user.profile.valorantLeague}}</h5>
<h6> Valorant Rangue  {{user.profile.valorantRangue}}</h6>
<h7> Valorant CurrentRR  {{user.profile.valorantCurrentRR}}</h7>
<br><br>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
     <button class="btn btn-secondary">Update Profile Page</button>
</div>
<h8> Our calculate elo marca de la casa{{user.profile.valorantCalculatedElo}}</h8>

{% endif %}


{% endblock content%}