{% extends 'users/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<html>
<head>
</head>
<body>
  <div class="container" style="">
    <div clas="main">
      <div class="row">
        <div class="col-md4 mt-1">
          <div class="card text-center sidebar">
            <div class="card-body">
              <div class="mt-3">
                <h3>Profile of {{user.username}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div  class="col-md8 mt-1">
          <div class="card mb-3 content">
            <h1 class="m-3 pt-3">Valorant Name: {{user.profile.valorantName}}</h1>
            <div class="w3-sidebar w3-bar-block" style="width:100%">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <h5>Valorant Tagline:</h5>
                  </div>
                  <div class="col-md-9 text-secondary">
                     {{user.profile.valorantTagline}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <h5>Valorant League:</h5>
                  </div>
                  <div class="col-md-9 text-secondary">
                    {{user.profile.valorantLeague}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <h5>Valorant Region:</h5>
                  </div>
                  <div class="col-md-9 text-secondary">
                    {{user.profile.valorantRegion}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5>Valorant Rank: </h5>
                  </div>
                  <div class="col-md-9 text-secondary">
                    {{user.profile.valorantRangue}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5>Valorant CurrentRR </h5>
                  </div>
                  <div class="col-md-9 text-secondary">
                    {{user.profile.valorantCurrentRR}}
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 content">
              <h1 class="m-3">ELO: {{user.profile.valorantCalculatedElo}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<div class ="container">
  <div class = "vertical-center">
      <a href="{% url 'editprofile' request.user.profile.id %}" class="btn-default nav-link waves-effect" >
          <!--@{{user.id}}-->
          <span class="clearfix d-none d-sm-inline-block aligned"> Edit my profile </span>
      </a>
  </div>
</div>
{% else%}
<p>Inicie sesión para poder ver su perfil</p>

{% endif %}

{% endblock content%}

