{% extends "users/base.html" %}


{% block content %}
<style>
    p.a1 {

        font-weight: bolder;
        font-size: 35px;
        margin-top: 1.25em;
        padding: 20px;
        color: #0076ca;
    }

    .mt-5.pt-4{
        margin-top: -0.375em!important;
        margin-left: -45px;
}
</style>
<main class="mt-5 pt-4">
    <div class="container">

        <p class="a1">Terms of Service</p>
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 1. Agreement to Terms</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp By viewing or using this website, which can be accessed at Valorant Groups, you are
            agreeing to be bound by
            all these website’s Terms of Service and agree with any applicable &nbsp&nbsp&nbsp&nbsp&nbsp&nbsplocal laws. If you
            disagree with any of these
            terms, you are prohibited from accessing this Website or using the Service. All materials in this
            Website
            are protected by trade mark &nbsp&nbsp&nbsp&nbsp&nbsp&nbsplaw and copyright.</p>

        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 2. Privacy policy</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp We advise you to read our privacy policy regarding our user data collection. It
            will help you better
            understand our practices.</p>
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 3. Use License</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp Permission is granted to temporarily download one copy of the materials on the
            website for personal,
            non-commercial transitory viewing only.
            This is the grant of a license, not a
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsptransfer of title, and under
            this license you may not:

            modify or copy the materials;
            use the materials for any commercial purpose or for any public display;
            attempt to reverse &nbsp&nbsp&nbsp&nbsp&nbsp&nbspengineer any software contained on the website;
            remove any copyright or other proprietary notations from the materials; or
            transferring the materials to another person or &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"mirror" the materials on any other server.

            This will let us to terminate upon violations of any of these restrictions. Upon
            termination, your
            viewing right will also be terminated and &nbsp&nbsp&nbsp&nbsp&nbsp&nbspyou should destroy any downloaded materials in your possession
            whether it is electronic format or printed.</p>

        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 4. Disclaimer</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp All the materials on the website are provided on an “as is” basis. You agree that
            your use of the website
            will be at your own risk. We makes no warranties, may it be expressed or &nbsp&nbsp&nbsp&nbsp&nbsp&nbspimplied,
            therefore negates all
            other warranties. Furthermore, we do not make any representations concerning the accuracy or
            preliability of the use of the materials on its website &nbsp&nbsp&nbsp&nbsp&nbsp&nbspor otherwise relating to
            such materials or any sites
            linked to this Website.</p>
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 5. Limitations</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp We will not be hold accountable for any damages that will arise with the use or
            inability to use the materials on the website. Some jurisdiction does not
            allow limitations on implied &nbsp&nbsp&nbsp&nbsp&nbsp&nbspwarranties or limitations of liability for incidental
            damages, these
            limitations may not apply to you.</P>

        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 6. Modification of Terms of Service</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp We may revise or include supplemental terms in these Terms of Service on this
            website from time to time
            without prior notice. Please ensure that you check the current Terms of &nbsp&nbsp&nbsp&nbsp&nbsp&nbspService every
            time you use the Website.
            By using this website, you are agreeing to be bound by the current version of these Terms of
            Service.</p>
        <p><b>&nbsp&nbsp&nbsp&nbsp&nbsp 7. Applicable law</b></p>

        <p>&nbsp&nbsp&nbsp&nbsp&nbsp Any claim related to Valorant Groups shall be governed by the laws of Spain without
            regards to its conflict
            of law provisions.</p>

    </div>
</main>

{% endblock content %}

</html>