{% extends 'users/base.html' %}
{% block content %}
  <h1>Tournaments</h1>
  <ul>
    {% for tournament in tournaments %}
    
      <li><a href="{% url 'tournament_detail' tournament.pk %}">{{ tournament.name }}</a></li>
    {% empty %}
      <li>No tournaments to display</li>
    {% endfor %}
  </ul>

<body>
    <div class="sidebar" style="top:80px">
      <div class="menu-wrapper">
        <button class="menu-toggle" style="top:35px;">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <div>
      <ul>
        <li style="top:50px"><a href="{% url 'create_team' %}">Create Team</a></li>
        <li><a href="{% url 'create_tournament' %}">Create Tournament</a></li>
      </ul>
    </div>
<body>

 <script>
    var menuToggle = document.querySelector('.menu-toggle');
    var sidebar = document.querySelector('.sidebar');
      
    menuToggle.addEventListener('click', function() {
    sidebar.classList.toggle('show');
    });
</script>

{% endblock %}
