{% extends 'users/base.html' %}

{% block content %}
  <h1>User Rank by ELO</h1>
  <ul>
    {% for user in users %}
      <li>Valorant Name: {{ user.profile.valorantName }}
        <ul>
          <li>Tagline: {{ user.profile.valorantTagline }}</li>
          <li>Web Username: {{ user.username }}</li>
          <li>Last Game Kills: {{ user.profile.valorantKills }}</li>
          <li>Last Game Deaths: {{ user.profile.valorantDeaths }}</li>
          <li>Calculated elo: {{ user.profile.valorantCalculatedElo }}</li>

        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
